<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="sqlconnect" connectionString="server=DESKTOP-T4S7MB4; Integrated Security=yes; Database= flujo_ITLA" />
    <add name="CapaPresentacion.Properties.Settings.flujo_ITLAConnectionString"
      connectionString="Data Source=DESKTOP-T4S7MB4;Initial Catalog=flujo_ITLA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>